<p>
    <strong>First Name</strong>
    <%= @author.first_name %>
</p>

<p>
    <strong>Last Name</strong>
    <%= @author.last_name %>
</p>

<p>
    <strong>Homepage</strong>
    <%= @author.homepage %>
</p>
