<div id="<%= dom_id paper %>">
  <p>
    <strong>Title:</strong>
    <%= paper.title %>
  </p>

  <p>
    <strong>Venue:</strong>
    <%= paper.venue %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= paper.year %>
  </p>

</div>
